*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/
/app/build/
/gradle/
/app/src/main/java/com/social/social/Conts.java
/app/google-services.json
